<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sign In</title>
    <link rel="stylesheet" href="signinUpCSS">
    <link rel="stylesheet" href="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
.tablesorter-disableSelection{
    -ms-user-select:none;
    -moz-user-select:moz-none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.tablesorter-resizable-container{
    position: relative;
    height: 1px;
}
.tablesorter-resizable-handle{
    position: absolute;
    display: inline - block;
    width: 8px;
    top: 1px;
    cursor:ew-resize;
    z-index:3;
    user-select:none;
    -moz-user-select:none;
}#form-singin{
    margin-top: -7%;
    height: auto;
}
</style>
<body>
<div class="container">
    <div class="row" id="form-singin">
        <div class="cell cell--800 well well--xl">
            <div class="g g--l">
                <div class="g-b g-b--m--2of6 mbm mbf--m" id="img-cos">
                    <a href="/">
                        <img alt="COS" src="/image/cos-bg.png">
                        <img alt="COS-font" src="/image/font-cos.png">
                    </a>
                </div>
                <div class="g-b g-b--m--4of6">
                    <h1 class="h h--bold mbf">Sign In</h1>
                    <p class="tcs tss">
                        Don't have a COS. account?
                        <a class="link link--underline" href="/signup">Create a free
                            account</a>
                    </p>
                    <div class="form" id="sign-in-form">
                        <form action="/login" method="post">
                            <fieldset class="form-field">
                                <label class="form-label" for="user_login">Email</label>
                                <input class="form-input" autofocus="autofocus"type="email" name="email" id="email"
                                           placeholder="E-Mail Address" required >
                            </fieldset>
                            <fieldset class="form-field">
                                <label class="form-label" for="user_password">Password</label>
                                <input type="password" name="password" id="password"
                                         placeholder="Password" required class="form-input mbxs"/>
                                <a class="bdrn tsxs">
                                <i class="fa fa-question fa-lg"></i>
                                    <b class="link link--underline">Forgot your password?</b>
                                </a>
                            </fieldset>
                            <div class="mbl mtl pbl">
                                <div class="mts mtm--m tac">
                                    <button class="form-btn btn btn--l mbm" data-disable-with="Signing in...">Sign In
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="singinUpJS"></script>
<script src="/js"></script>