<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sign In</title>
    <link rel="stylesheet" href="signinUpCSS">
    <link rel="stylesheet" href="style">
</head>
<style>
body
.tablesorter-disableSelection{
    -ms-user-select:none;
    -moz-user-select:moz-none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.tablesorter-resizable-container{
    position: relative;
    height: 1px;
}
.tablesorter-resizable-handle{
    position: absolute;
    display: inline - block;
    width: 8px;
    top: 1px;
    cursor:ew-resize;
    z-index:3;
    user-select:none;
    -moz-user-select:none;
}#form-singin{
    margin-top: -7%;
    height: auto;
}
</style>
<body>
<div class="container">
    <div class="row" id="form-singin">
        <div class="cell cell--800 well well--xl">
            <div class="g g--l">
                <div class="g-b g-b--m--2of6 mbm mbf--m" id="img-cos">
                    <img alt="COS" src="/image/cos-bg.png">
                    <img alt="COS-font" src="/image/font-cos.png">
                </div>
                <div class="g-b g-b--m--4of6">
                    <h1 class="h h--bold mbf">Create Account</h1>
                    <p class="tcs tss">
                        Already have a COS account?
                        <a class="link link--underline" href="/login">Sign In</a>
                    </p>
                    <div class="form" id="sign-in-form">
                        <form action="/signup" method="post">
                            <fieldset class="form-field">
                                <label class="form-label" for="user_login">Email</label>
                                <input class="form-input" type="email" name="email2" id="username" placeholder="E-Mail Address" required />
                            </fieldset>
                            <fieldset class="form-field">
                                <label class="form-label" for="user_password">Password</label>
                                <input type="password" name="password" id="re_password"
                                         placeholder="Password" required class="form-input mbxs"/>
                            </fieldset>
                            <fieldset class="form-field">
                                <label class="form-label" for="user_password">Comfirm Password</label>
                                <input type="password" name="confirm_password" id="confirm_password"
                                        placeholder="Password" required class="form-input mbxs"
                                        id="confirm_password"
                                />
                                <span id='message'></span>
                            </fieldset>
                            <div class="mbl mtl pbl">
                                <div class="mts mtm--m tac">
                                    <button class="form-btn btn btn--l mbm" data-disable-with="Signing in...">Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="singinUpJS"></script>
<script src="/js"></script>
<script>
    <!--  confirm password -->
        $('#re_password, #confirm_password').on('keyup', function () {
        if ($('#re_password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else 
            $('#message').html('Not Matching').css('color', 'red');
        });
</script>