body {
    padding-top: 90px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
    	/*text menu*/
    #text-file, #text-group, #text-online, #text-offline, #text-header{
    	/*color: black;*/
    	/*text-shadow: 1px 1px 1px black, 0 0 5px blue, 0 0 1px darkblue;*/
    }
    a:link{
        text-decoration:none;
    }
    a:visited{
        text-decoration:none;
    }
    #txtlink{
        color: inherit;
    }
    .txtTH{
        font-family: 'Nunito',sans-serif;
        font-size: 16pt;
        text-shadow: 4px 4px 6px #aaa;
    }
    #txtlink{
        color: inherit;
    }
    #tableGroup{
        width: 100%;
        height: 5%;
        font-size: 17px;
    }
    /*#tableGroup:hover{
        overflow-y:overlay;
    }*/
    #text-profile{
    	margin-top: -5%;
    	margin-left: 13%;
    	width: 100%;
    }
    #text-icons{
    	text-align: left;
    	vertical-align: left;
    	padding: 3px;
    }
    #text-createGroup{
    	width: 100%;
    }
    #BtnAddGroup{
    	width: 15%;
    	padding: 12px 20px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 14px;
    }
    #startGroup{
    	width: 15%;
    	padding: 12px 20px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 14px;
    }
    #delGropup{
		cursor:help;
		color: #BEBEBE;
    }
    #delGropup:hover{
    	color: #FF0000;
    }
    #font-online{
    	font-size: 18px;
    	position: relative;
    	margin-top: 5%;
    }
    #tableOffline{
    	margin-top: -5%;
    }
    #scrollbar-online{
    	height: 250px;
    	overflow-y: overlay;
    }
    #scrollbar-offline{
    	height: 250px;
    	overflow-y: overlay;
    }
    #scollbartableGroup:hover{
        overflow-y: overlay;
    }
    #scollbartableGroup{
        height: 480px;
        list-style-type: none;
    	overflow-y: hidden;
    }
    #scollbartableOnline:hover{
        overflow-y: overlay;
    }
    #scollbartableOnline{
        height: 200px;
        list-style-type: none;
        overflow-y: hidden;
    }
    #scollbartableOffline:hover{
        overflow-y: overlay;
    }
    #scollbartableOffline{
    	height: 200px;
        list-style-type: none;
        overflow-y: hidden;
    }
    .custom-input-file input[type="file"]{
	    border: 0;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}
    .text{
         font-family: 'Nunito',sans-serif;
         font-size: 16pt;
         text-shadow: 4px 4px 6px #aaa;
    }
    .footer {
        background: #EDEFF1;
        height: auto;
        padding-bottom: 30px;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #DDDDDD;
    }
    #footer{
        height: 60px;
        background-color: #f5f5f5;
    }
    .container .credit {
        margin: 20px 0;
    }
    #footer > .container {
        padding-left: 15px;
        padding-right: 15px;
    }
        /*imagechat User*/
    #imgChat{
        width: 45px;
        height: 45px;
    }
    #outputImg{
        height: 180px;
        width: 180px;
    }
            /*body Model chat*/
    #messages {
        height: 250px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        }
    #messages:hover{
         overflow-y: overlay;
    }
        #messages > p:last-child {
            color: red;
        }
        #messages p {
            margin-right: 1%;
            padding: 1px 20px 2px 9px;
        }
         #messages-group {
            height: 250px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow-y: hidden;
        }
        #messages-group:hover{
            overflow-y: overlay;
        }
        #messages-group > p:last-child {
            color: red;
        }
        #messages-group p {
            margin-right: 1%;
            padding: 1px 20px 2px 9px;
        }
        .w3-modal-content {
            top: 1%;
        }
        .menubar-chat > ul{
            border: 1px solid #ccc;
        }
        .menubar-chat > li {
            list-style: none;
            float: left;
            padding: 7px 10px 20px 10px;
            overflow: none;
        }
        /*div col-3 col-6 col-3 table panel*/
        #rowBG {
            height: auto;
        }

        #leftPanel {
            margin-top: -2.2%;
            height: auto;
        }

        #rightPanel {
            margin-top: -2.2%;
            height: auto;
        }

        #middlePanel {
            margin-top: -2.2%;
            height: auto;
        }

        #picProfile {
            width: 140px;
            height: 140px;
        }

        #rowHeadder {
            margin-top: 3%;
            margin-bottom: 3%;
        }

        #tableFile {
            color: lightsteelblue;
            padding: 0;
            width: 100%
        }
        #tableOnline {
            /*color: lightsteelblue;*/
            width: 100%;
            height: auto;
        }
        #tableOffline-Chat{
            width: 100%;
            height: auto;
        }

        #userOnlineIMG {
            width: 25px;
            height: 25px;
        }

        .icon-online {
            position: relative;
            margin-top: -2%;
            margin-left: 10%;
        }
        /*form message*/
        #testDemoP{
            color:black;
        }
        #frmMsg {
            border: none;
        }
        #frmMsg-group {
            border: none;
        }
            /*select image profile*/
        #img01{
            width: 550px;
            height: 450px;
            position: absolute;
            margin-left: 30%;
        }
            /*font class txt*/
        .txt{
             font-family: 'Nunito',sans-serif;
             font-size: 16pt;
             text-shadow: 4px 4px 6px #aaa;
         }
        #txtColorGroup{
            color: inherit;
         }
          /* text System COS*/
        .txtSystem{
            font-size: 20pt;
            margin-top: 1%;
            text-shadow: 4px 4px 6px #aaa;
        }

        .ft-coc{
            width: 50%;
            margin-top: -3%;
        }

        .bullhorn {
            position: absolute;
            margin-top: -2%;
        }

        .ft-cos-white {
            margin-left: 0%;
            width: 20%;
        }

        .msg-sn {
            text-align: right;
            padding: 1px;
        }
            /*status reader*/
        #reader{
            display: none;
            margin-top: -10px;
            color: #a1a1a1;
        }
            /*History User and Group*/
        #hisAll{
            text-align: right;
            font-size: 16pt;
            color: #979a9e;
            cursor: pointer;
        }
        #hisAll-group{
            text-align: right;
            font-size: 16pt;
            color: #979a9e;
            cursor: pointer;
        }
            /*messages alert*/
        .badge{
            background-color: red;
        }
        .headerSysCOS {
            margin-top: -5%;
            text-align: center;
            /*border-bottom: 1px solid #ccc;*/
        }
            /*txt Font color hover*/
        #colorfontChat{
            color: inherit;
        }
        #colorfontChat:hover{
            color: #3333FF;
        }
        #colorfontChatUser{
            color: inherit;
        }
        #colorfontChatUser:hover{
             color: #3333FF;
        }
        #colorfontChatUser-offline{
            color: #BEBEBE;
        }
        #colorfontChatUser-offline:hover{
             color: #3333FF;
        }
        /*Scroll bar back to top page*/
        #scroll {
            position:fixed;
            right:10px;
            bottom:10px;
            cursor:pointer;
            width:50px;
            height:50px;
            background-color:#3498db;
            text-indent:-9999px;
            display:none;
            -webkit-border-radius:60px;
            -moz-border-radius:60px;
            border-radius:60px
        }
        #scroll span {
            position:absolute;
            top:50%;
            left:50%;
            margin-left:-8px;
            margin-top:-12px;
            height:0;
            width:0;
            border:8px solid transparent;
            border-bottom-color:#ffffff;
        }
        #scroll:hover {
            background-color:#e74c3c;
            opacity:1;filter:"alpha(opacity=100)";
            -ms-filter:"alpha(opacity=100)";
        }
            /*color model background*/
        #headerModel{
            background-color: #F8F8FF;
        }
            /*textHistory font*/
        #txtHistory{
            font-family: 'Nunito',sans-serif;
            font-size: 16pt;
            /*text-shadow: 4px 4px 6px #aaa;*/
        }
        .ar-r{
            position: relative;
            top: 50%;
            color: #52D017;
        }
        .ar-l{
            color: red;
        }
        .ckp{
            position: absolute;
            margin-top: -25px;
            left:70px;
        }
        .ckg{
            position: absolute;
            margin-top: -25px;
            left:110px;
        }
        .txt{
             font-family: 'Nunito',sans-serif;
             font-size: 12pt;
             text-shadow: 4px 4px 6px #aaa;
         }
         .txt-icon{
            font-size: 16pt;
         }